/* line 1, ../scss/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

/* line 15, ../scss/_reset.scss */
html,
body {
  padding: 0;
  margin: 0;
}

/* line 21, ../scss/_reset.scss */
input,
select,
textarea,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: none;
}

/* line 31, ../scss/_reset.scss */
button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
}

/* line 38, ../scss/_reset.scss */
p {
  padding: 0;
}

/* line 1, ../scss/_header.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 26px 8px 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color: #FFF;
  z-index: 3;
}
/* line 13, ../scss/_header.scss */
header img {
  width: 135px;
  height: auto;
}

/* line 1, ../scss/_footer.scss */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 44px 0 rgba(0, 0, 0, 0.15);
  padding: 11px 10px 8px;
  height: 60px;
  background-color: #FFF;
  z-index: 3;
}
/* line 16, ../scss/_footer.scss */
footer a {
  font-size: 0.625rem;
}

/* line 10, ../scss/style.scss */
html {
  height: 100%;
}

/* line 14, ../scss/style.scss */
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

/* line 19, ../scss/style.scss */
main {
  text-align: center;
  position: relative;
  min-height: 100vh;
  padding-top: 90px;
  padding-bottom: 60px;
}

/* line 27, ../scss/style.scss */
h1 {
  font-weight: bold;
  color: #FFF;
  font-size: 1.25rem;
}

/* line 33, ../scss/style.scss */
h2 {
  font-size: 1.125rem;
  font-weight: bold;
}

/* line 38, ../scss/style.scss */
.blue-circle-border {
  border: 2px solid #037CC2;
  border-radius: 100px;
  padding: 10px 8px;
}

/* line 44, ../scss/style.scss */
.no-padding {
  padding: 0;
}

/* line 48, ../scss/style.scss */
.btns {
  width: 250px;
  border-radius: 0;
  font-size: 1rem;
  font-weight: 500;
}
/* line 54, ../scss/style.scss */
.btns:hover {
  font-size: 1.1rem;
  transition: font-size .5s;
}

/* line 60, ../scss/style.scss */
.btn-blue {
  color: #037CC2;
  border: 2px solid #037CC2;
}
/* line 64, ../scss/style.scss */
.btn-blue:hover {
  color: #037CC2;
}

/* line 69, ../scss/style.scss */
.btn-white {
  color: #FFF;
  border: 2px solid #FFF;
}

/* line 78, ../scss/style.scss */
.overlay {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* Index page */
/* line 92, ../scss/style.scss */
#index h1 {
  margin-bottom: 150px;
  padding: 0 20px;
}
/* line 97, ../scss/style.scss */
#index .logo {
  margin-bottom: 50px;
  padding-top: 130px;
  height: 75px;
}
/* line 105, ../scss/style.scss */
#index main .overlay {
  opacity: 0.7;
  background: linear-gradient(135deg, #549692 0%, #2A5D59 100%);
}

/* Tangata */
/* line 116, ../scss/style.scss */
#tangata h1 {
  color: #4c4c4c;
  margin: 0 14px;
}
/* line 120, ../scss/style.scss */
#tangata .overlay {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.89) 56.46%, #FFFFFF 100%);
}
/* line 124, ../scss/style.scss */
#tangata .background-image {
  padding-top: 110px;
}
/* line 130, ../scss/style.scss */
#tangata .description i {
  color: #037CC2;
}
/* line 134, ../scss/style.scss */
#tangata .description p {
  margin: 7px 40px 21px;
}
/* line 138, ../scss/style.scss */
#tangata .tangata-help {
  padding: 50px 14px;
  background: url("../images/logo.png") no-repeat right bottom;
}
/* line 141, ../scss/style.scss */
#tangata .tangata-help .overlay {
  background: linear-gradient(135deg, #549692 0%, #2A5D59 100%);
}
/* line 145, ../scss/style.scss */
#tangata .tangata-help h2 {
  color: #FFF;
}
/* line 150, ../scss/style.scss */
#tangata .see-entreprises {
  color: #4c4c4c;
  background-color: #EEEEEE;
}

/* Entreprises */
/* line 159, ../scss/style.scss */
#entreprises h1 {
  color: #4c4c4c;
  margin: 0 14px;
}
/* line 164, ../scss/style.scss */
#entreprises .overlay {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.89) 56.46%, #FFFFFF 100%);
}
/* line 168, ../scss/style.scss */
#entreprises .background-image {
  padding-top: 110px;
}
