
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content:space-between;
	align-items: center;
	text-align: center;
	box-shadow: 0 0 44px 0 rgba(0,0,0,0.15);
	padding: 11px 10px 8px;
	height: 60px;
	background-color: $white;
	z-index: 3;

	a{
		font-size: 0.625rem;
	}
}