@import '_reset.scss';
@import '_fonts.scss';
@import '_colors.scss';
@import '_header.scss';
@import '_footer.scss';
@import '_common.scss';
@import '_forms.scss';



/* Index page */

#index{

	h1{
		color: $white;
		margin-bottom: 150px;
		padding: 0 5px;
	}

	.logo{
		margin-bottom: 50px;
		padding-top: 130px;
	}

	.overlay{
		opacity: 0.7;
		background: linear-gradient(135deg, #549692 0%, #2A5D59 100%);
	}

	.background-image{
		background: url("../images/index.png") no-repeat center center / cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -2;
	}
}

/* Tangata */

#tangata{

	.background-image{
		background: url("../images/tangata.png") no-repeat center center / cover;
	}

	.description{

		p{
			margin: 7px 40px 21px;
		}
	} 

	.tangata-help{
		padding: 50px 14px;
		background: url("../images/help.png") no-repeat right bottom;

		.overlay{
			background: linear-gradient(135deg, #549692 0%, #2A5D59 100%);
		}

		h2{
			color: $white;
		}
	}

}

/* Entreprises */

#entreprises{

	.background-image{
		background: url("../images/tangata.png") no-repeat center center / cover;
	}

	.entreprises{

		.entreprise{
			padding: 0 30px;
		}

		p{
			font-size: 0.813rem;
		}

		a{
			color: $colorTitle;
			font-size: 0.813rem;
			text-decoration: underline;
		}
	}

	.add-entreprise{
		border: 1px dashed $colorDashedBorder;

		.new-entreprise{
			background-color: $colorBGNewEntreprise;

			& .plus-icon{
				i{
					color: $colorTitle;
					font-size: 5.25rem;
					opacity: .7;
				}
			}
		}
	}
}

/* Entreprise */

#entreprise{

	.background-image{
		background: url("../images/bnp-paribas-bureau.jpg") no-repeat center center / cover;
	}

	.wrapper-logo{
		background: $white;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 100px;
		width: 110px;
		height: 110px;
		bottom: -50px;
		box-shadow: 0 7px 10px 0 rgba(0,0,0,0.2);

		.logo-entreprise{

			width: 110px;
			height: 110px;

			img{
				top:50%;
				left: 50%;
				transform: translate(-50%,-50%);
				max-width: 95px;
				height: auto;
			}
		}
	}

	main{
		div{
			div.display{
				display: block;
			}
		}
	}

	.lieu{
		font-size: 0.875rem;
	}

	.entreprise-section{

		p{
			padding-bottom: 10px;
			font-size: 0.875rem;
			border-bottom: 1px solid $colorGrayLight;

			&.active{
				border-bottom: 2px solid $colorBlue;
				font-weight: bold;
			}

			&:hover{
				cursor: pointer;
			}
		}
	}

	.numbers{

		p{
			color: $colorGreen;
			margin-bottom: 0;
			font-size: 1rem;

			strong{
				font-size: 1.5rem;
			}
		}

		.overlay{
			background: $colorGreen;
			opacity: .1;
		}
	}

	.unique-contact{
		box-shadow: 0 30px 30px -10px rgba(0,0,0,0.2);
		background: $white;
		p{
			margin-bottom: 0;
			font-size: 0.813rem;

			strong{
				font-size: 1rem;
			}
		}
	}

	.parole{

		h2{
			font-size: 1rem;
		}

		p{
			font-size: 0.813rem;
		}
	}

	.staff{
		display: flex;
		align-items: center;

		.staff-name{
			p{
				margin-bottom: 10px;
				font-size: 0.813rem;
			}
		}
	}

	.handifacts{

		h2{
			font-size: 1rem;
		}

		ul{
			li{
				margin-bottom: 8px;
				font-size: 0.813rem;
				padding-left: 30px;
				position: relative;

				i{
					color: $colorTitle;
					position: absolute;
					left: 0;
					top: 2px;
				}
			}
		}
	}

	.galeries{
		figure{
			margin-bottom: 30px;
		}

		figcaption{
			text-align: left;
			font-size: 0.688rem;
		}
	}

	.entreprise-offers{

		.entreprise-offer{

			h2{
				font-size: 1.125rem;
			}

			p,a{
				font-size: 0.813rem;
			}

			a{
				color: $colorTitle;
				text-decoration: underline;
				font-style: italic;
			}

		}

		.offers-pagination{

			i,a{
				color: $colorTitle;
				font-size: 1.125rem;
				margin-right: 5px;
			}

			a.active{
				color:$colorBlue;
			}
		}
	}

	.entreprise-events{
		h2{
			i{
				color: $colorTitle;
			}

			&:hover{
				cursor:pointer;
			}
		}
		ul{

			li{
				margin-bottom: 8px;
				font-size: 0.813rem;
				padding-left: 30px;
				position: relative;

				i{
					color: $colorTitle;
					position: absolute;
					left: 0;
					top: 2px;
				}
			}
		}

		.entreprise-event-to-come, .entreprise-event-passed{
			h2{
				font-size: 1.125rem;
			}

			p,a{
				font-size: 0.813rem;
			}

			a{
				color: $colorTitle;
				text-decoration: underline;
				font-style: italic;
			}
		}
	}
}

/* New entreprise */

#new-entreprise{

	.background-image{
		background: url("../images/bnp-paribas-bureau.jpg") no-repeat center center / cover;
	}

	.wrapper-logo{
		background: $white;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 100px;
		width: 110px;
		height: 110px;
		bottom: -50px;
		box-shadow: 0 7px 10px 0 rgba(0,0,0,0.2);

		.logo-entreprise{

			width: 110px;
			height: 110px;

			.logo{
				top:50%;
				left: 50%;
				transform: translate(-50%,-50%);
				max-width: 95px;
				height: auto;
			}
		}
	}

	.new-entreprise-section{

		p{
			padding-bottom: 10px;
			font-size: 0.875rem;

			&.active{
				border-bottom: 2px solid $colorBlue;
				font-weight: bold;
			}
		}
	}

	.numbers{

		p{
			color: $colorGreen;
			margin-bottom: 0;
			font-size: 1rem;

			strong{
				font-size: 1.5rem;
			}
		}

	.overlay{
			background: $colorGreen;
			opacity: .1;
		}
	}

	.unique-contact{
		box-shadow: 0 30px 30px -10px rgba(0,0,0,0.2);
		background: $white;
		p{
			margin-bottom: 0;
			font-size: 0.813rem;

			strong{
				font-size: 1rem;
			}
		}
	}
}

/* Partenaires */

#partenaires{

	.background-image{
		background: url("../images/partenaires.png") no-repeat center center / cover;
	}

}

/* Offer */

#offer{

	.background-image{
		background: url('../images/offre-img.jpg') no-repeat center center / cover;
	}

	.wrapper-logo{
		background: $white;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 100px;
		width: 110px;
		height: 110px;
		bottom: -50px;
		box-shadow: 0 7px 10px 0 rgba(0,0,0,0.2);

		.logo-entreprise{

			width: 110px;
			height: 110px;

			img{
				top:50%;
				left: 50%;
				transform: translate(-50%,-50%);
				max-width: 95px;
				height: auto;
			}
		}
	}

	.offer-presentation{
		a{
			color: $colorTitle;
			font-size: 0.813rem;
		}

		.numbers{

			h3{
				color: $colorGreen;
				font-size: 1rem;
			}

			i{
				color: $colorGreen;
				font-size: 1.75rem;
			}

			.overlay{
				background: $colorGreen;
				opacity: .1;
			}
		}

		.more-job{
			color: $colorBlue;
			font-size: 1rem;
		}
	}

	.offer-description{
		a{
			font-size: 1rem;
		}
	}

	.profile-list{

		& > li{
			position: relative;
			padding-left: 60px;
			margin-bottom: 50px;
			color: $colorTitle;
			font-size: 0.813rem;

			& i{
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				display: flex;
				justify-content: center;
				align-items: center;
				color: $white;
			}

			&:last-child{
				i{
					top: 0;
					transform: translateY(0);
				}
			}
		}

		.sublist{
			list-style: inside;

			li{
				margin-bottom: 10px;
			}
		}
	}
}

/* Contact */

#contact{

	.background-image{
		background: url("../images/contact.png") no-repeat center center / cover;
	}

}

/* A propos */

#about{

	.background-image{
		background: url("../images/about.png") no-repeat center center / cover;
	}

	.about{

		h2{
			font-size: 0.813rem;
		}

		p{
			font-size: 0.813rem;
		}
	}
}

/* Tarifs */

#tarifs{

	.background-image{
		background: url("../images/tarifs.png") no-repeat center center / cover;
	}

	.tarifs{
		box-shadow: 0 30px 30px -10px rgba(0,0,0,0.2);
		background: $white;
	}

	.tarif-top{

		p.first{
			font-size: 1.563rem;
		}

		p.last{
			font-size: 0.875rem;
		}

		h2{
			color: $colorBlue;
			font-size: 0.875rem;
		}

		.see-more{
			width: 150px;
		}
	}

	.tarif-bottom{
		ul{
			text-align: left;
			list-style: none;
			padding: 0;
			
			li::before {
				content: "\2022"; 
				color: $colorBlue;
				display: inline-block; 
				width: 15px;
				font-size: 1.563rem;
			}

			li{
				margin-bottom: 10px;
				color: $colorTitle;
				font-size: 0.813rem; 
			}
		}
	}
}
